@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Zen Antique Soft';
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background: url(background.png) no-repeat;
}

h4 {
    color: #f8eeee;
}

h1 {
    text-align: center;
}

.classification {
    display: inline-block;
}

.bottom {
    background-color: #471c0f;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bottom p a{
    text-decoration: none;
    color: #f8eeee;
}

.bottom p {
    display: inline-block;
}

.bottom #source {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.animal {
    display: flexbox;
    background-color: rgb(29, 63, 28);
    padding: 10px;
}