@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
    font-family: 'Zen Antique Soft';
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3f4b5a;
}

.species a {
    display: inline-block;
}

.bottom {
    background-color: rgb(110, 153, 153);
    text-align: center;
}

.bottom p a{
    text-decoration: none;
}
